# Let's start by ignore everything!
*

# Now the files that I want to pick
# Git ignore file
!.gitignore

# Bash config!
!.bashrc
!.bash_aliases

# Vim config & plugins!
!.vim/
!.vimrc

# GOPATH directory
go/*
go/src/*
go/pkg/*
go/bin/*

!go/
!go/src
!go/pkg
!go/bin
!go/src/.gitkeep
!go/pkg/.gitkeep
!go/bin/.gitkeep
