[submodule "/home/nycae/.vim/bundle/Vundle.vim"]
	path = /home/nycae/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/nycae/.tmux/plugins/tpm"]
	path = /home/nycae/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
