[submodule "/home/nycae/.vim/bundle/Vundle.vim"]
	path = /home/nycae/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "/home/nycae/.tmux/plugins/tpm"]
	path = /home/nycae/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "/home/nycae/.vim/pack/plugins/start/rust.vim"]
	path = /home/nycae/.vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
