[submodule "/home/nycae/.vim/bundle/Vundle.vim"]
	path = /home/nycae/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/nycae/.vim/bundle/vim-go"]
	path = /home/nycae/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/home/nycae/.vim/bundle/ayu-vim"]
	path = /home/nycae/.vim/bundle/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git

